@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/35b01c07-9009-43d3-bd56-ee16b48da1c8/GH-en-20230417-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;
  position: absolute;
  background-position: center;
  height: 100vh; /* Set a height for the element */
}
